<form action="/words/create" method="post" class="col-4 mx-auto">
  <div class="form-group">
    <label  for="typeOfWord">Type of word</label>
    <select name="type" value='{{this.type}}'class="form-control" id="typeOfWord">
      <option>Verb</option>
      <option>Adverb</option>
      <option>Adjective</option>
      <option>Noun</option>
      <option>Idiom</option>
      <option>Interjection</option>
    </select>
  </div>

  <div class="form-group">
    <label for="semanticDefinition">Define the word</label>
    <textarea name="definition" value='{{this.definition}}' class="form-control" id="definition" rows="3" placeholder="Scriptctus: brain stroke caused by unhandled errors"></textarea>
  </div>

  <div class="form-group">
    <label for="empathicEtymology">Empathic Definition</label>
    <textarea name="empathic" value='{{this.empathic}}'class="form-control" id="empathicEtymology" rows="3"placeholder="Explain your fucking emotions or the experience that led you to believe that this word is needed"></textarea>
  </div>

<div class="form-group">
    <label for="scopeOfUse">Scope of use</label>
    <select name="scope" value='{{this.scope}}' class="form-control" id="scopeOfUse">
      <option>Local</option>
      <option>Regional</option>
      <option>National </option>
      <option>Worldwide</option>
      <option>Other</option>
    </select>
      <div class="form-group">
    <label for="otherScope">Scope of Use: Other (please specify)</label>
{{!-- TODO: should only be displayed if "Other" is selected on dropdown --}}
{{!--  --}}
    <textarea name="scopeOther" class="onlyIfOther" placeholder="IronHack" rows="1"></textarea>
      </div>
</div>

  <div class="form-group">
    <label for="style">Style</label>
    <select name="style" multiple class="form-control" id="style" value='{{this.style}}' aria-placeholder="When can we use it?">
      <option>General</option>
      <option>Formal</option>
      <option>Colloquial</option>
      <option>Vulgar</option>
      <option>Insult</option>
    </select>
  </div>

  <div class="form-group">
    <label for="word">Word</label>
    <input name="value" value="{{this.value}}"class="form-control" id="value" rows="1"placeholder="What word do you fucking propose?" ></input>
  </div>
   <div class="form-group">
    <label for="example">Example</label>
    <textarea name="example" class="form-control" id="example" rows="3" placeholder="Please fucking exemplify" value='{{this.example}}'></textarea>
  </div>
{{!-- <section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section> --}}
  <div class="form-actions">
   <button class="btn btn-primary btn-block" type="submit" >Create Word</button>
  </div>
	
</form>