
    <br>
    <div class="row">
        <div class="col-md-8">
           <a href="/words" class="btn btn-primary">Randomize</a>
            <br>
            <h1>{{word.value}}</h1>
            <h5> <i>{{word.type}}</i></h5>
            <br>
            <h3>Definition</h3>
            <p class= "col-xs-12">{{word.definition}}</p>
            <br>
            <h3>Empathic Etymology</h3>
            <p>{{word.etymology}}</p>
            <br>
            <h3>Scope of Use</h3>
            <p>{{word.scope}}</p>
            <br>
            <h3>Style</h3>
            <p>{{word.style}}</p>
            <br>
            <h3>Examples</h3>
            <li>{{word.example}}</li>

        </div>
        <div class="col-md-4">
            {{>form}}
        
        </div>
        <br>

<div>
      <h3>Comments</h3>
        <br>
        <div>
            {{> index comments=word.comments }}

        </div>
</div>

      

    
        
</div>
