  <br>
    <h2 class="mb-4">My Words</h2>
    <h4>These are the words you created!</h4>
    <ul class="list-group mt-2">
      {{#each words as |word| }}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/words/{{word._id}}">
            <i>{{ this.type}}</i>
            <b style="text-align: right">{{ this.value }}</b>
            <i style="text-align: right" class='fas fa-plus'></i></a>
            <div class="edit-delete">
              <a class='btn btn-warning edit' href="/words/{{ this.id }}/update">
                Edit
              </a>
              <form class='delete' action="/words/{{ this.id }}/delete" method="post">
                <button type="submit" class="btn btn-danger " data-confirm="Are you sure?">
                Delete
                </button>
              </form>
            </div>
        </li>
      {{/each}}
    </ul>        
    <br>
    <h4>These are the words you like!</h4>


